/CapstoneCartel/nbproject/private/
/BlackJack/nbproject/private/
/BlackJack/build/
/CapstoneCartel/src/CapstoneCartel-Angela/Capstone1/build/
/CapstoneCartel/src/CapstoneCartel-Angela/Capstone1/nbproject/private/